.Wrapper{
    display: flex;
    height: 8rem;
    width: 20rem;
    border: 2px solid rgb(250, 166, 57);
    border-radius: 4px;
    overflow: hidden;
    transition: 0.2s ease-in-out;
    margin-bottom: 8px;
}
.Wrapper:hover{
    transform: translateY(-4px);
    border: 2px solid rgb(255, 85, 7);
    background-color: #fff6f6d0;
}
.Image{
    width: 50%;
    height: inherit;
}
.ready{
    font-size: 12px;
    background-color: antiquewhite;
}
.Text p{
    font-size: 16px;
}
.Text .details{
    background-color: rgb(255, 77, 116);
    color: #fff;
    border-radius: 2px;
    font-size: 10px;
    display: inline-block;
    padding: 4px;
    transform: translateY(1px);
    cursor: pointer;
}