.SearchInput{
    width: 220px ;
    height: 40px;
    background-color: rgb(255, 249, 198);
    border: none;
    padding: 0 12px;
    outline: none;
    font-size: 16px;
    border-radius: 5px 0px 0px 5px;
}
.Submit{
    background-color: rgb(249, 255, 187);
    border: none;
    outline: none;
    width: 60px ;
    height: 40px;
    font-size: 18px;
    border-radius: 0px 5px 5px 0px;
}
.Submit:hover{
    background-color: rgb(255, 226, 206);
    cursor: pointer;
}

