.SearchInput{
    width: 220px ;
    height: 40px;
    background-color: rgb(191, 217, 255);
    border: none;
    padding: 0 12px;
    outline: none;
    font-size: 16px;
    border-radius: 5px 0px 0px 5px;
}
.SearchInput:active{
    background-color: rgb(191, 217, 255);
}
.Submit{
    background-color: rgb(191, 217, 255);
    border: none;
    outline: none;
    width: 60px ;
    height: 40px;
    font-size: 18px;
    border-radius: 0px 5px 5px 0px;
}
.Submit:hover{
    background-color: rgb(177, 207, 252);
    cursor: pointer;
}
.Submit:active{
    background-color: rgb(153, 180, 255);
    cursor: pointer;
}

